{% assign duration = page.duration | default: 4500 %}
<button id="ics-btn"
    data-start="{{ page.date | date: '%Y%m%dT%H%M%S' }}"
    data-end="{{ page.date | date: '%s' | plus: duration | date: '%Y%m%dT%H%M%S' }}"
    data-title="{{ page.title }}"
    data-location="{{ site.data.locations[page.location].name | default: '' }}"
    data-meeting-url = "{{ page.meeting_url }}"
    class="btn btn-sm btn-outline-secondary"
    target = "_blank"
>
  <i class="fas fa-calendar-plus"></i>
</button>



<script>
document.getElementById('ics-btn').addEventListener('click', function() {
  var title = this.dataset.title;
  var summary = '[SynRG]' + ' ' + title;
  var start = this.dataset.start;
  var end = this.dataset.end;

  var meetingUrl = this.dataset.meetingUrl;


  var CRLF = String.fromCharCode(13, 10);


  var lines = [
    'BEGIN:VCALENDAR',
    'VERSION:2.0',
    'BEGIN:VEVENT',
    'SUMMARY:' + summary,
    'DTSTART;TZID=America/New_York:' + start,
    'DTEND;TZID=America/New_York:' + end,
  ];

  if (meetingUrl) {
    lines.push('URL:' + meetingUrl);
  }

  lines.push('LOCATION:' + this.dataset.location);
  lines.push('END:VEVENT');
  lines.push('END:VCALENDAR');

  var ics = lines.join(CRLF);

  var blob = new Blob([ics], { type: 'text/calendar;charset=utf-8' });
  var url = URL.createObjectURL(blob);
  var a = document.createElement('a');
  a.href = url;
  a.download = 'synrgevent.ics';
  document.body.appendChild(a);
  a.click();
  setTimeout(function() {
    document.body.removeChild(a);
    URL.revokeObjectURL(url);
  }, 100);
});
</script>