---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="pl-xl-3">
  {% for post in site.posts %}
    {% assign cur_year = post.date | date: '%Y' %}
    {% assign cur_month = post.date | date: '%m' | plus: 0 %}

    <!--okay, where should the cutting line be?-->
    {% if cur_month >= 6.5 %}
      {% assign cur_semester = 'Fall' %}
    {% else %}
      {% assign cur_semester = 'Spring' %}
    {% endif %}
    {% assign cur_period = cur_year | append: ' ' | append: cur_semester %}


    {% if cur_period != last_period %}
      {% unless forloop.first %}</ul>{% endunless %}
      <time class="year lead d-block" style="position: relative;">{{ cur_year }}<span style="font-size: 1.5rem; position: absolute; left: 108px;">{{ cur_semester }}</span></time>
      {{ '<ul class="list-unstyled">' }}
      {% assign last_period = cur_period %}
    {% endif %}

    <li>
      {% assign ts = post.date | date: '%s' %}
      <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
      <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
        {{ post.date | date: df_strftime_m }}
      </span>
      <a href="{{ post.url | relative_url }}">{% include post-author.html post=post %}{{ post.title }}</a>
    </li>

    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
